html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}


* {
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif !important;
}

.container {
  display: flex;
  margin-top: 10px;
}

.main {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 2rem;
}